* {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #141414;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    padding: 2.5rem;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center;
  }
  
  .content {
    width: 100vw;
  }
  .content svg {
    width: 15rem;
    height: 15rem;
  }
  
  .camera__wrap {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    min-width: 35rem;
    width: 20rem;
    height: 20rem;
    position: relative;
  }
  .camera__body {
    background-color: #e5e5e5;
    height: 100%;
    width: 70%;
    position: absolute;
    left: 0;
    border-radius: 0.9rem;
    padding: 1.5rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .camera__body-k7 {
    width: 100%;
    height: 60%;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center;
  }
  .camera__body-k7 .tape {
    border-radius: 50%;
    background-color:#c9c9c9;
    width: 10.0rem;
    height: 10.0rem;
    position: relative;
    -webkit-animation: k7roll 2.5s linear infinite;
            animation: k7roll 2.5s linear infinite;
  }
  .camera__body-k7 .tape .center {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    width: .8rem;
    height: .8rem;
  }
  .camera__body-k7 .tape .roll {
    background-color: #141414;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
  }
  .camera__body-k7 .tape .roll:nth-child(1) {
    left: 7%;
    top: 50%;
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%);
  }
  .camera__body-k7 .tape .roll:nth-child(2) {
    left: 50%;
    bottom: 7%;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
  }
  .camera__body-k7 .tape .roll:nth-child(3) {
    left: 50%;
    top: 7%;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
  }
  .camera__body-k7 .tape .roll:nth-child(4) {
    right: 7%;
    top: 50%;
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%);
  }
  .camera__body__stuff {
    width: 100%;
    height: 25%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
  }
  .camera__body__stuff-bat {
    height: 100%;
    width: 40%;
    background-color: #189f8c;
  }
  .camera__body__stuff-pointer {
    border-radius: 50%;
    background-color: #ce8645;
    width: 2.0rem;
    height: 2.0rem;
    margin-right: 1.5rem;
  }
  .camera__body__stuff-pointer.first {
    margin-left: auto;
  }
  .camera__body-optic {
    background-color: #e5e5e5;
    width: 30%;
    height: 90%;
    top: 5%;
    border-radius: 0 15% 15% 0;
    position: absolute;
    left: 70%;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  }
  .camera__body-light {
    z-index: -1;
    position: absolute;
    height: 60%;
    width: 30%;
    top: 20%;
    right: 0;
    position: absolute;
    box-shadow: 9.5rem 0 1.5rem 1.0rem rgba(91, 114, 134, 0.2);
    -webkit-animation: light linear 0.3s infinite;
            animation: light linear 0.3s infinite;
  }

  .loading{
      font-size: 2rem;
      text-align: center;
      padding: 0;
      color: red;
     
  }
  
  @-webkit-keyframes k7roll {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes k7roll {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes light {
    0% {
      box-shadow: 10.0rem 0 6.0rem .2rem rgba(91, 114, 134, 0.2);
    }
    50% {
      box-shadow: 11.5rem 0 3.5rem .4rem rgba(91, 114, 134, 0.3);
    }
    100% {
      box-shadow: 11.0rem 0 4.5rem .2rem rgba(91, 114, 134, 0.1);
    }
  }
  @keyframes light {
    0% {
      box-shadow: 10.0rem 0 6.0rem .2rem rgba(91, 114, 134, 0.2);
    }
    50% {
      box-shadow: 11.5rem 0 3.5rem .4rem rgba(91, 114, 134, 0.3);
    }
    100% {
      box-shadow: 11.0rem 0 4.5rem .2rem rgba(91, 114, 134, 0.1);
    }
  }