.movieDetails__credits{
    margin-top: 2em;
}

 .movieDetails__credits__title{
    text-align: center;
} 

.movieDetails__credits__profile{
    display: flex;
    overflow-y: hidden; /* hides vertical scrolling in the row */
    overflow-x: scroll; /* allows for horizontal scrolling in the row  */
    margin: 0.5em 1em 0 1em;
    padding: 1em 0.5em;
}

.movieDetails__credits__profile::-webkit-scrollbar{
    display: none; /* hides the scrollbar for horizontal scrolling */
}


.movieDetails__credits__card{
    text-align: center;
    margin-right: 1em;
}

.movieDetails__credits__images{
    height: 12rem;
    width: auto;
    border-radius: 100vh;
}

.movieDetails__credits__text{
    max-width: 10em;
    margin-left: 1em;
}

.movieDetails__credits__name{
    font-size: 1rem;
    font-weight: 700;
}

.movieDetails__creditsCrew{
    margin-top:0;

}

@media (min-width: 1100px){
    .movieDetails__credits{
        display: flex;
        flex-direction: column;
    }

    .movieDetails__credits__profile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        object-fit: contain; /* maintains aspect ratio  */
        width: auto;
        /* Sonny said 100% for image to fit full width of screen. it was messing it up, so changed it to auto */
        max-height: 25em;
    }

    .movieDetails__credits__title{
        font-size: 1.3rem;
        font-weight: 700;
    }
}