/* .banner img{
    position: relative;
    text-align: center;
} 

.banner__movie-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* .banner__movie{
    display: flex;
    overflow-y: hidden;
} */

.banner{
    overflow: hidden;
    height: 95vh;
}

.banner p{
    width: 40em;
    font-size: 1rem;
    padding-right: 5em;
    text-align: center;
}

.banner__poster{
    object-fit: contain;
    background-size: cover;
}

.banner__movie-info{
    z-index: 1000;
    
}