.row{
    margin-left: 2em;
    margin-top: 2em;
}

.row__posters{
    display: flex;
    overflow-y: hidden; /* hides vertical scrolling in the row */
    overflow-x: scroll; /* allows for horizontal scrolling in the row  */
    margin: 2em 1em;
}

.row__posters::-webkit-scrollbar{
    display: none; /* hides the scrollbar for horizontal scrolling */
}

.row__movie{
    margin-right: 5em;
    overflow: hidden;
}

.row__poster{
    object-fit: contain; /* maintains aspect ratio  */
    width: auto;
     /* Sonny said 100% for image to fit full width of screen. it was messing it up, so changed it to auto */
    max-height: 25em;
    transition: transform 450ms; /* Zooms into the poster on hover */
}

.row__poster:hover{
    transform:scale(1.05);
}

.row__movie-info{
    display: flex;
    padding: 1.5em 0;
    align-items: flex-start;
    justify-content: space-between;
}