.movieDetails{
    font-size: 1rem;
}

.movieDetails__mainPoster{
    min-height: 15rem;
    max-height: 22rem;
    display: block;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;    
}

.movieDetails__title,
.movieDetails__director,
.movieDetails__runtime{
    text-align: center;
    margin: 0.5em 0;
}

.movieDetails__title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
}

.movieDetails__director{
    font-size: 1.1rem;
}

.movieDetails__director__span{
    font-weight: 700;
    font-size: 1.2rem;
}

.movieDetails__buttonDiv{
    display: flex;
    justify-content: center;
    margin: 1em;
}

.movieDetails__genres{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5em;
}

.movieDetails__overview{
    margin: 0 1.8em;
}


.movieDetails__genre{
    margin-right: 0.5em;
}

@media (min-width: 500px){
    .movieDetails__overview{
         margin: 0 6em;
    }

    .movieDetails__title{
       margin-right: 3em;
       margin-left: 3em;
    }
}

@media (min-width: 700px){
    .movieDetails__overview{
        margin: 0 8em;
    }

}

@media (min-width: 750px){

    .movieDetails__info{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 3em;
    } 

    .movieDetails__mainPoster{
        min-height: 15rem;
        max-height: 25rem;
        padding-left: 3em;
        padding-top: 3.5em;

    }

    .movieDetails__overview{
        margin: 2em 8em 0;
        font-size: 1.1rem;

    }

    .movieDetails{
        font-size: 1.1rem;
    }

    .movieDetails__title{
        font-size: 2.3rem;
        padding-top: 1em;
    }
    
    .movieDetails__director{
        font-size: 1.2rem;
    }
    
    .movieDetails__director__span{
        font-size: 1.3rem;
    }

}


@media (min-width: 1000px){

    .movieDetails__info{
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-left: auto;
        margin-right: auto;
    } 

    .movieDetails__mainPoster{
        min-height: 25rem;
        max-height: 35rem;
        border: 2px solid white;
    }

    .movieDetails__mainInfo{
        border: 2px solid white;
    }

    .movieDetails__overview{
        margin: 2em 10em 0;
    }

    .movieDetails{
        font-size: 1.1rem;
    }

    .movieDetails__title,
    .movieDetails__director,
    .movieDetails__genres,
    .movieDetails__runtime{
        text-align: left;
        margin-left: 2rem;
    }

    .movieDetails__genres,
    .movieDetails__buttonDiv{
        justify-content: initial;
        margin-left: 2rem;

    }

    .movieDetails__title{
        font-size: 3rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .movieDetails__director{
        font-size: 1.5rem;
        margin-top: 0.2em;
        margin-bottom: 0;
    }
    
    .movieDetails__director__span{
        font-size: 1.6rem;
    }

    .movieDetails__genres,
    .movieDetails__runtime,
    .movieDetails__overview{
        font-size: 1.2rem;
    }
}