.movieDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid salmon;
    width: 100%;
    font-size: 0.8rem;
    padding: 0;
}

.movieDetails__main{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid salmon;
    width: 80%;
    margin-top: 10em;
    margin-bottom: 5em;
}

.movieDetails__info{
    margin-left: 3em;
    /* margin-top: 2em; */
}

/* .movieDetails__info *{
    margin-top: 1em;
} */

.movieDetails__titleEtc{
    display: flex;
    flex-direction: row;
    border: 1px solid greenyellow;
    align-items: baseline;
}

.movieDetails__titleEtc p {
    margin-left: 2em;
}

.movieDetails__titleEtc p:first-child {
    margin-left: 0;
}

.movieDetails__rating{
    border: 1px solid red;
    padding: 0.5em 0.7em;
    background-color: rgba(255, 0, 0, 0.349);
}

.movieDetails__cast,
.movieDetails__similar{
    display: flex;
    flex-direction: column;
}

.movieDetails__cast__images,
.movieDetails__similar__images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    object-fit: contain; /* maintains aspect ratio  */
    width: auto;
     /* Sonny said 100% for image to fit full width of screen. it was messing it up, so changed it to auto */
    max-height: 25em;
}

.movieDetails__cast__title,
.movieDetails__similar__title{
    font-size: 1.3rem;
    font-weight: 700;
}

.movieDetails__similar__images{
    transition: transform 450ms; /* Zooms into the poster on hover */
}

.movieDetails__similar__images:hover{
    transform:scale(1.06);
}

.movieDetails__mainPoster{
    object-fit: contain;   
}

.movieDetails__genres{
    display: flex;
    margin-top:0;
}

.movieDetails__genre{
    margin-right: 0.5em;
}

