.nav{
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em 4em;
    transition: all 500ms ease-in-out;
}

.nav__active{
    background-color:  #141414;
}

.nav__input{
    background-color: transparent;
    border: 2px solid rgba(229, 229, 229, 0.384);
    border-radius: 5px;
    padding: 0.5em 0.8em;
    margin: 0;
    color:inherit;
    font-family: inherit;
}

.nav__input:focus{
    outline: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e5e5e5;
    opacity: 0.8; /* Firefox */
  }

.fa-film{
    font-size: 2rem;
    color: #e5e5e5;
}